<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电池负载控制</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <h1>电池负载控制</h1>
    </header>
    <div class="container-wrapper">
        <div class="content">
            <div class="container">
                <p><strong>连接电子负载：</strong></p>
                <form onsubmit="return connect()">
                    <label for="VISA"><strong>VISA</strong>:</label>
                    <input type="text" id="VISA" name="VISA" value="USB0::0x2EC7::0x8800::800837011767650010::INSTR">
                    <input type="submit" value="连接" class="strong-input">
                    <span id="connectionStatus" class="success"></span>
                </form>
                <p><strong>ON/OFF按钮：</strong></p>
                <button class="button-style" onclick="powerOn()">开启</button>
                <button class="button-style" onclick="powerOff()">关闭</button>

                <p><strong>本地操控：</strong></p>
                <button class="button-style" onclick="changelocal()">本地</button>
                <!--?                <button class="button-style" onclick="changermt()">远程</button>-->


                <p><strong>查询当前电流电压值：</strong></p>
                <button class="button-style" onclick="getScreenVA()">查询当前电流电压值</button>
                <p id="getTimeScaleResult"></p>

                <p><strong>设置电压：</strong></p>
                <form onsubmit="return setVoltage()">
                    <label for="voltage">电压(V):</label>
                    <input type="text" id="voltage" name="voltage">
                    <input type="submit" value="确定">
                </form>
                <p id="setVoltageResult"></p>

                <p><strong>设置电流：</strong></p>
                <form onsubmit="return setCurrent()">
                    <label for="current">电流(A):</label>
                    <input type="text" id="current" name="current">
                    <input type="submit" value="确定">
                </form>
                <p id="setCurrentResult"></p>

                <p><strong>设置电阻：</strong></p>
                <form onsubmit="return setResistance()">
                    <label for="resistance">电阻(Ω):</label>
                    <input type="text" id="resistance" name="resistance">
                    <input type="submit" value="确定">
                </form>
                <p id="setResistanceResult"></p>
            </div>
        </div>
    </div>
    <!-- Additional content or elements can be added here -->
    <script>
        function connect() {
            const visa = document.getElementById('VISA').value;
            fetch(`/dianchifuzai/connect?visa=${visa}`)
                .then(response => response.json())
                .then(data => {
                    const resultElement = document.getElementById('connectionStatus');
                    if (data.result === 'Connection Successful') {
                        resultElement.innerHTML = '&#10004;'; // 使用 "✓" 符号
                        resultElement.className = 'success';
                    } else {
                        resultElement.innerHTML = '&#10008;'; // 使用 "X" 符号
                        resultElement.className = 'error';
                    }
                });
            return false;
        }
        function powerOn() {
            fetch(`/dianchifuzai/power_on`)
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'Connection Successful') {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "电源已开启";
                    } else {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "请重新连接";
                    }
                });
            return false;
        }

        function powerOff() {
            fetch(`/dianchifuzai/power_off`)
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'Connection Successful') {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "电源已关闭";
                    } else {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "请重新连接";
                    }
                });
            return false;
        }

        function changelocal() {
            fetch(`/dianchifuzai/changelocal`)
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'Connection Successful') {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "远程操作关闭";
                    } else {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "远程操作启动";
                    }
                });
            return false;
        }

        function getScreenVA() {
            fetch('/dianchifuzai/Screen')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('getTimeScaleResult').innerHTML = data.result;
                });
        }

        function setVoltage() {
            // Retrieve voltage and current values from input fields
            const voltage = document.getElementById('voltage').value;
            const voltage_dict = { voltage: voltage }
            fetch('/dianchifuzai/setVoltage', {
                method: 'POST',
                body: JSON.stringify(voltage_dict),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'Connection Successful') {
                        document.getElementById('setVoltageCurrentResult').innerHTML = `电压设置为${voltage}V`;
                    } else {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "请重新连接";
                    }
                });
            // Prevent the form from submitting and refreshing the page
            return false;
        }

        function setCurrent() {
            // Retrieve voltage and current values from input fields
            const current = document.getElementById('current').value;
            current_dict = { current: current }
            fetch('/dianchifuzai/setCurrent', {
                method: 'POST',
                body: JSON.stringify(current_dict),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'Connection Successful') {
                        document.getElementById('setVoltageCurrentResult').innerHTML = `电流设置为${current}A`;
                    } else {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "请重新连接";
                    }
                });
            // Prevent the form from submitting and refreshing the page
            return false;
        }

        function setResistance() {
            // Retrieve voltage and current values from input fields
            const resistance = document.getElementById('resistance').value;
            const resistance_dict = { resistance: resistance }
            fetch('/dianchifuzai/setResistance', {
                method: 'POST',
                body: JSON.stringify(resistance_dict),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'Connection Successful') {
                        document.getElementById('setVoltageCurrentResult').innerHTML = `电流设置为${resistance}Ω`;
                    } else {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "请重新连接";
                    }
                });
            // Prevent the form from submitting and refreshing the page
            return false;
        }
    </script>
</body>

</html>