<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>万用表</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <h1>万用表控制</h1>
    </header>
    <div class="container-wrapper">
        <div class="content">
            <div class="container">
                <p><strong>连接万用表：</strong></p>
                <form onsubmit="return connect()">
                    <label for="VISA"><strong>VISA</strong>:</label>
                    <input type="text" id="VISA" name="VISA" value="ASRL3::INSTR">
                    <input type="submit" value="连接" class="strong-input">
                    <span id="connectionStatus" class="success"></span>
                </form>
                <p><strong>查询当前屏幕显示：</strong></p>
                <button class="button-style" onclick="getflukeresult()">查询</button>
                <p id="getflukeresult"></p>
            </div>
        </div>
    </div>
    <!-- Additional content or elements can be added here -->
    <script>
        function connect() {
            const visa = document.getElementById('VISA').value;
            fetch(`/fluke/connect/${visa}`)
                .then(response => response.json())
                .then(data => {
                    const resultElement = document.getElementById('connectionStatus');
                    if (data.result === 'Connection Successful') {
                        resultElement.innerHTML = '&#10004;'; // 使用 "✓" 符号
                        resultElement.className = 'success';
                    } else {
                        resultElement.innerHTML = '&#10008;'; // 使用 "X" 符号
                        resultElement.className = 'error';
                    }
                });
            return false;
        }
        // Function to call the first API
        function getflukeresult() {
            const visa = document.getElementById('VISA').value;
            fetch(`/fluke/query/${visa}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('getflukeresult').innerHTML = data.result;
                });
        }
    </script>
</body>

</html>