<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>测试工具</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">测试工具</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">首页</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/oscilloscope">示波器</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/itech">程控电源</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tek">信号发生器</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fluke">万用表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dianchifuzai">电池负载</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ethercat">EtherCat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vcardas">VcarDas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/testcase">运行测试</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="card my-3">
            <div class="card-body">
                <h2 class="card-title">NI-VISA</h2>
                <img src="/static/screenshot-20231012-163218.png" alt="visa示例图" class="img-fluid">
                <p class="card-text"><strong>基本功能：</strong> 用于控制各种测试测量仪器和设备并与其进行通信...</p>
                <p class="card-text"><strong>使用方法：</strong> 下载NI-VISA安装后，USB连接硬件，查看VISA地址</p>
                <a href="{{ url_for('download_visa') }}" class="btn btn-primary" download>NI-VISA工具下载(1.5G)</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card my-3">
            <div class="card-body">
                <h2 class="card-title">示波器</h2>
                <img src="/static/sig.png" alt="示波器示例图" class="img-fluid">
                <p class="card-text"><strong>基本功能：</strong> 示波器用于观察电信号的波形，包括振幅、频率和相位。</p>
                <p class="card-text"><strong>使用方法：</strong> 连接电信号到示波器的输入端口，选择合适的时间和电压范围，观察波形。</p>
                <a href="{{ url_for('download_pdf') }}" class="btn btn-primary" download>示波器编程接口文档</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card my-3">
            <div class="card-body">
                <h2 class="card-title">程控电源</h2>
                <img src="/static/screenshot-20231007-180226.png" alt="程控电源示例图" class="img-fluid">
                <p class="card-text"><strong>基本功能：</strong> 程控电源用于提供可控制的电压和电流输出，以供电子设备测试和实验。</p>
                <p class="card-text"><strong>使用方法：</strong> 连接电源到电路，设置所需的电压和电流值，启动电源以供电设备。</p>
                <a href="{{ url_for('download_pdf_it') }}" class="btn btn-primary" download>程控电源接口文档</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card my-3">
            <div class="card-body">
                <h2 class="card-title">信号发生器</h2>
                <img src="/static/screenshot-20231007-184233.png" alt="信号发生器示例图" class="img-fluid">
                <p class="card-text"><strong>基本功能：</strong> 信号发生器用于生成各种类型的电信号，如正弦波、方波和脉冲信号。</p>
                <p class="card-text"><strong>使用方法：</strong> 选择所需的信号类型、频率和幅度，然后将信号发生器连接到测试电路中。</p>
                <a href="{{ url_for('download_pdf_signal') }}" class="btn btn-primary" download>信号发生器接口文档</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card my-3">
            <div class="card-body">
                <h2 class="card-title">万用表</h2>
                <img src="/static/screenshot-20231007-184348.png" alt="万用表示例图" class="img-fluid">
                <p class="card-text"><strong>基本功能：</strong> 万用表用于测量电压、电流、电阻和其他电学参数。</p>
                <p class="card-text"><strong>使用方法：</strong> 选择所需的测量功能和量程，连接测量点，读取显示的测量值。</p>
                <a href="{{ url_for('download_pdf_fluke') }}" class="btn btn-primary" download>万用表接口文档</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card my-3">
            <div class="card-body">
                <h2 class="card-title">vcardas</h2>
                <img src="/static/screenshot-20231007-185059.png" alt="vcardas示例图" class="img-fluid">
                <p class="card-text"><strong>基本功能：</strong> 远程调用vcardas接口</p>
                <p class="card-text"><strong>使用方法：</strong> 硬件基于 vci6，调用 vcardas 上位机，实现远程收发 can、lin 消息。</p>
                <a href="{{ url_for('download_pdf_vcardas') }}" class="btn btn-primary" download>vcardas使用文档</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>