<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>程控电源</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <h1>程控电源控制</h1>
    </header>
    <div class="container-wrapper">
        <div class="content">
            <div class="container">
                <p><strong>连接程控电源：</strong></p>
                <form onsubmit="return connect()">
                    <label for="VISA"><strong>VISA</strong>:</label>
                    <input type="text" id="VISA" name="VISA" value="USB0::0x2EC7::0x6700::802260084787310060::INSTR">
                    <input type="submit" value="连接" class="strong-input">
                    <span id="connectionStatus" class="success"></span>
                </form>
                <p><strong>电源控制：</strong></p>
                <button class="button-style" onclick="powerOn()">开启</button>
                <button class="button-style" onclick="powerOff()">关闭</button>

                <p><strong>设置电压电流：</strong></p>
                <form onsubmit="return setVoltageAndCurrent()">
                    <label for="voltage">电压(V):</label>
                    <input type="text" id="voltage" name="voltage">
                    <br>
                    <label for="current">电流(A):</label>
                    <input type="text" id="current" name="current">
                    <br>
                    <input type="submit" value="确定">
                </form>
                <p id="setVoltageCurrentResult"></p>
            </div>
        </div>
    </div>
    <!-- Additional content or elements can be added here -->
    <script>
        function connect() {
            const visa = document.getElementById('VISA').value;
            fetch(`/itech/connect/${visa}`)
                .then(response => response.json())
                .then(data => {
                    const resultElement = document.getElementById('connectionStatus');
                    if (data.result === 'Connection Successful') {
                        resultElement.innerHTML = '&#10004;'; // 使用 "✓" 符号
                        resultElement.className = 'success';
                    } else {
                        resultElement.innerHTML = '&#10008;'; // 使用 "X" 符号
                        resultElement.className = 'error';
                    }
                });
            return false;
        }
        function powerOn() {
            fetch(`/itech/power_on`)
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'Connection Successful') {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "电源已开启";
                    } else {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "请重新连接";
                    }
                });
            return false;
        }

        function powerOff() {
            fetch(`/itech/power_off`)
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'Connection Successful') {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "电源已关闭";
                    } else {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "请重新连接";
                    }
                });
            return false;
        }



        function setVoltageAndCurrent() {
            // Retrieve voltage and current values from input fields
            const voltage = document.getElementById('voltage').value;
            const current = document.getElementById('current').value;
            fetch('/itech/setAV', {
                method: 'POST',
                body: new URLSearchParams({ voltage: voltage, current: current }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.result === 'Connection Successful') {
                        document.getElementById('setVoltageCurrentResult').innerHTML = `电压设置为${voltage}V，电流设置为${current}A`;
                    } else {
                        document.getElementById('setVoltageCurrentResult').innerHTML = "请重新连接";
                    }
                });
            // Prevent the form from submitting and refreshing the page
            return false;
        }
    </script>
</body>

</html>