<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件上传和下载</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f0f0f0;
            font-size: 16px;
            text-align: left;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }

        .container-wrapper {
            display: flex;
            justify-content: center;
        }

        .content {
            text-align: left;
            width: 70%;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            background-color: #fff;
            border-radius: 10px;
        }

        .button-style {
            cursor: pointer;
        }

        .delete-button, .download-button, .run-button, .view-button {
            margin-left: 10px;
        }

        /* Hide the file input element */
        input[type="file"] {
            display: none;
        }


    </style>
</head>
<body>
    <header>
        <h1>测试用例管理</h1>
    </header>
    <div class="container-wrapper">
        <div class="content">
            <div class="container">
                <form action="/testcase/upload" method="POST" enctype="multipart/form-data">
                    <label for="file-upload" class="btn btn-primary button-style">上传文件</label>
                    <input type="hidden" name="project" id="project-name" value="{{ project_name }}">
                    <input type="file" name="file" id="file-upload" class="form-control" style="display: none;">

                </form>

                <p><strong>已上传文件：</strong></p>
                <ul class="list-group">
                    {% for file in uploaded_files %}
                    <li class="list-group-item">
                        <a href="/testcase/view/{{ file }}" id="filename">{{ file }}</a>
                        <button class="btn btn-success view-button" data-filename="{{ file }}">查看</button>
                        <button class="btn btn-primary download-button" data-filename="{{ file }}">下载</button>
                        <button class="btn btn-danger delete-button" data-filename="{{ file }}">删除</button>
                        <button class="btn btn-info run-button" data-filename="{{ file }}">运行测试用例</button>
                    </li>
                    {% endfor %}
                    <p id="testresult"></p>
                </ul>
            </div>
        </div>
    </div>


<!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

    </script>


    <script>
        const projectName = document.getElementById('project-name').value;

        // 在上传文件时将项目名称传递给后端
        function submitFormOnFileChange() {
            document.getElementById("file-upload").addEventListener("change", function () {
                // 将项目名称传递给后端
                const formData = new FormData();
                formData.append('file', this.files[0]);
                formData.append('project', projectName);

                // 提交表单
                fetch('/testcase/upload', {
                    method: 'POST',
                    body: formData
                })
                        .then(response => response.text())
                        .then(data => {
                            // 处理后端响应
                            console.log(data);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
            });
        }

        function attachViewButtonListeners() {
            const viewButtons = document.querySelectorAll('.view-button');
            viewButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const filename = this.getAttribute('data-filename');
                    // Redirect to the file view URL
                    window.location.href = `/testcase/view/${filename}`;
                });
            });
        }

        function attachRunButtonListeners() {
            const runButtons = document.querySelectorAll('.run-button');
            runButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const filename = this.parentElement.querySelector('#filename').textContent;
                    fetch('/testcase/run_csvload?filename=' + filename)
                            .then(response => response.json())
                            .then(data => {
                                // 处理后端响应
                                document.getElementById("testresult").textContent = filename + '运行完成';
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                document.getElementById("testresult").textContent = filename + '运行失败';
                            });
                });
            });
        }

        function attachDeleteButtonListeners() {
            const deleteButtons = document.querySelectorAll('.delete-button');
            deleteButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const filename = this.getAttribute('data-filename');
                    const projectname = projectName;
                    if (confirm(`确认删除文件: ${filename}?`)) {
                        fetch(`/testcase/delete_file?filename=${filename}&project=${projectname}`, {
                            method: 'DELETE'
                        })
                                .then(response => response.json())
                                .then(data => {
                                    // Handle the server's response
                                    console.log(data);
                                    // Reload the page or update the file list after successful deletion
                                    location.reload();
                                })
                                .catch(error => {
                                    // Handle errors
                                    console.error(error);
                                });
                    }
                });
            });
        }

        function attachDownloadButtonListeners() {
            const downloadButtons = document.querySelectorAll('.download-button');
            downloadButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const filename = this.getAttribute('data-filename');
                    // Call your download API here
                    fetch(`/testcase/download_file?filename=${filename}`)
                            .then(response => response.blob())
                            .then(blob => {
                                // Create a temporary link and trigger the download
                                const url = window.URL.createObjectURL(blob);
                                const a = document.createElement('a');
                                a.style.display = 'none';
                                a.href = url;
                                a.download = filename;
                                document.body.appendChild(a);
                                a.click();
                                window.URL.revokeObjectURL(url);
                            })
                            .catch(error => {
                                // Handle errors
                                console.error(error);
                            });
                });
            });
        }


        // 调用上述函数
        submitFormOnFileChange();
        attachViewButtonListeners();
        attachRunButtonListeners();
        attachDeleteButtonListeners();
        attachDownloadButtonListeners();


    </script>
</body>
</html>